.column {
  border-width: 2px;
  border-style: solid;
  margin: 1%;
  min-height: 600px;
}

.modal {
  z-index: 1;
}

.fakeBox {
  margin-top: 1%;
  margin-bottom: 1%;
  min-height: 600px;
  border-width: 2px;
  border-style: solid;
  width: 30px;
}

.field {
  margin-left: 0.75em;
  max-width: 100px;
}

.fakePos {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

.fakeBut {
  margin-left: 10px;
}

.condOpenClose {
  display: inline-block;
  -webkit-animation: conditionalOpen 0.5s normal forwards ease-in-out;
  -moz-animation: conditionalOpen 0.5s normal forwards ease-in-out;
  animation: conditionalOpen 0.5s normal forwards ease-in-out;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

@-webkit-keyframes conditionalOpen {
  from { transform: scaleY(0) }
  to { transform: scaleY(1) }
}
@-moz-keyframes conditionalOpen {
  from { transform: scaleY(0) }
  to { transform: scaleY(1) }
}
@keyframes conditionalOpen {
  from { transform: scaleY(0) }
  to { transform: scaleY(1) }
}

.cls-1 {
  fill: none;
}

.cls-2 {
  clip-path: url(#clip-path);
}

.cls-3 {
  fill: #262831;
}